<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo News Scraper</h1>
    <button class="btn btn-primary view-saved">View Saved</button>
    <button class="btn btn-success refresh-button">Refresh feed</button>
    <button class="btn btn-danger delete-button">Delete feed</button>
  </div>
</div>

<div class="card-container" style="text-align: center;">

</div>

<script src="../public/js/index.js">